<!DOCTYPE html>
<html>
<head>
    <title>Aufgabenverwaltung</title>
</head>
<body>

<h1>Aufgabenverwaltung</h1>

<form id="addForm">
    ID: <input type="text" id="id"><br>
    Beschreibung: <input type="text" id="beschreibung"><br>
    <input type="submit" value="Hinzufügen">
</form>

<h2>Aufgaben</h2>
<ul id="aufgabenListe">
    {% for aufgabe in aufgaben %}
        <li>
            {{ aufgabe["ID"] }}: {{ aufgabe["Beschreibung"] }} - {{ aufgabe["Status"] }}
            <button onclick="editStatus({{ aufgabe['ID'] }})">Bearbeiten</button>
            <button onclick="deleteAufgabe({{ aufgabe['ID'] }})">Löschen</button>
        </li>
    {% endfor %}
</ul>

<script>
function editStatus(id) {
    let status = prompt("Neuer Status (Offen/Erledigt):");
    fetch('/edit', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: `id=${id}&status=${status}`
    }).then(response => response.json())
    .then(data => location.reload());
}

function deleteAufgabe(id) {
    fetch('/delete', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: `id=${id}`
    }).then(response => response.json())
    .then(data => location.reload());
}

document.getElementById("addForm").addEventListener("submit", function(event) {
    event.preventDefault();
    let id = document.getElementById("id").value;
    let beschreibung = document.getElementById("beschreibung").value;
    fetch('/add', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: `id=${id}&beschreibung=${beschreibung}`
    }).then(response => response.json())
    .then(data => location.reload());
});
</script>

</body>
</html>
